.MainPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.MainPage__title {
  font-size: 5rem;
}

.MainPage__left-pane {
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
