.ListView {
  border-collapse: collapse;
  width: 100%;
}

.ListView td {
  padding: 0.5rem 1.5rem;
}

.ListView tr {
  border-bottom: 1px solid lightgray;
}

.ListView > tbody > tr:last-child {
  border-bottom: none;
}

.ListView__new-task-input {
  font-size: inherit;
  border: 1px solid lightgray;
  padding: 0.3em;
  border-radius: 0.1rem;
}
