.ListView {
  border-collapse: collapse;
  width: 100%;
}

.ListView td {
  padding: 1rem 1.5rem;
}

.ListView td {
  border-bottom: 1px solid lightgray;
}

.ListView > tbody > *:last-child > td {
  border-bottom: none;
}
